.nav{
    padding: 30px 20px;
    background-color: black;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.tex{
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.bt {
    box-sizing: border-box;
    background-image: linear-gradient(to right, #098ff6, #7fd079); 
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    border: 2px solid transparent;
    border: none;
  }
  .tex1{
    color: black;
    font-size: 70px;
    font-weight: 800;
    font-style: italic;
    margin: 20px 70px;
  }
  .im{
    width: 300px;
    height: 300px;
    margin-left: 70px;
  }
  .tex2 ,.tex3,.tex4,.tex5,.tex6{
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin-left: 70px;
    padding: 10px 0px;
  }
  .imtex{
    display: flex;
    justify-content: flex-start;
    
    border-radius: 50px;
    
    border: 2px solid black;
    background-color: rgb(236, 236, 236);
    margin:20px 20px; 

    padding: 3vw 5vw;
    
  }
  .model{
    font-size: 20px;
    font-weight: 600;
    width: 50vw;
    height: 50vh;
    background-color: white;
    
    

  }
  
  
  